---
layout: default
title: Games automata play
---

<div class="home" id="home">
  <h1 class="pageTitle">Posts by categories</h1>
  <ul class="posts noList">

{% for category in site.categories | reversed %}
  {% if category != "Research" %}
    <li><h2><span class="description">{{ category | first }}</span></h2>
      <ul>
      {% for posts in category %}
        {% for post in posts %}
	  {% if post.url %} 
          <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
          <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
          <p class="description">{% if post.description %}{{ post.description | strip_html | truncate: 250 }}{% else %}{{ post.content | strip_html | truncate: 250 }}{% endif %}</p>
          {% endif %}
        {% endfor %}
      {% endfor %}
      </ul>
    </li>
  {% endif %}
{% endfor %}

  </ul>
</div>
